.evaluation_lecture__form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.evaluation_lecture__buttons{
    display: flex;
    flex-direction: row;
}

.button{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size:cover;
    
    
}
 .good_mark{
    background-image: url('../img/iconsForRating/good_mark.jpg');
    
}
.satisfactory_mark{
    background-image: url('../img/iconsForRating/satisfactory_mark.jpg');
    
}
.bad_mark{
    background-image: url('../img/iconsForRating/bad_mark.png');
    
}

.evaluation_lecture__statistics{
    list-style: none;
    margin: 0;
    padding: 0;
}
.stat{
    display: flex;
    align-items: center;
}
.statistics__value{
    margin-left:10px;
    font-size: 20px;
    
}